@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins' sans-serif;
    color: black;
}
.navbar{
    padding: .8rem;  /*1 rem = 16px */

}
.navbar-brand{
    padding-right: 60px;
}
.navbar-nav li {
    padding-right:60px;
    float:right; 
}
.navbar-nav >li > a {
    color: black;
    text-decoration: none;
}
.navbar-nav >li > a:hover{
    color: #7CCE04;
    transition: 0.5s;
    text-decoration: solid underline;
}
a:active {
    color: #7CCE04;
}
a:visited {
    color:  #7CCE04;
  }
.nav-link{
    /* font-size: 1.1em !important; */
    font-size: 1.1em;
    
}
/* .carousel .carousel-item{
    max-height: 650px;
} */

.carousel-inner img{
    width: 100%;
    height: 100%;
    position: relative; 

}
/* style caption */
.carousel-caption {
    position: absolute;
    top: 50;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 400%;
    font-weight: 400;
    text-transform: uppercase;
    color: #7CCE04;
    text-align: right;
    /* text-shadow: 1px 1px 15px #000; */
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    color: black;
    /* text-shadow: 1px 1px 10px #000; */
    padding-bottom: 1rem;
}
.btn-primary-override{
    background-color: black !important;
    color:#fff !important; 
    
}
.btn-primary-override:hover {
    color: #7CCE04 !important;
      
}

.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
    text-align: center;
}
.welcome hr {
    /* #b4b4b4 */
    border-top: 2px solid #7CCE04;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* services section */
.section-header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
.card{
    border-radius: 5px;      
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
}
.social a{
    font-size: 4.5em;
    padding: 3rem;  
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color: #00aced;
}
.fa-linkedin{
    color: #007bb5;
    /* color: white; */
  }
.fa-instagram{
    color: #517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook{
    color: #3b5998;
}
.fa-facebook :hover,
.fa-twitter :hover, 
.fa-linkedin :hover,
.fa-instagram :hover,
.fa-youtube:hover{
    color: #d5d5d5;
}
footer{
    background-color: #3f3f3f;
    color: black;
    padding-top: 2rem;
}
hr.light{
    /* #d5d5d5 */
    border-top: 1px solid #7CCE04;
    width: 100%;
    margin-top:  .8rem;
    margin-bottom:  1rem;
}
footer a{
    color: black;
}
hr.light-100{
    border-top: 2px solid #7CCE04;
    width: 95%;
    margin-top:  .8rem;
    margin-bottom:  1rem;
}
/* media querries*/
@media(max-width: 992px){
    .social a{
        font-size: 4em;
        padding: 2rem;
    }   
}
@media( max-width:768px){
    .carousel-caption {
        top: 45%;  
    }
    .carousel-caption h1{
        font-size: 350%;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn {
        font-size: 95%;
        padding: 8px 14px;  
    }
    .display-4{
        font-size: 200%;
    }
    .social a{
        font-size: 2.5em;
        padding: 1.2rem;
    }
    
}
@media(max-width: 576px){
    .carousel-caption {
        top: 40%;  
    }
    .carousel-caption h1{
        font-size: 250%;
    }
    .carousel-caption h3{
        font-size: 110%;
        font-weight: 400;
        
    }
    .carousel-caption .btn {
        font-size: 90%;
        padding: 8px 14px; 
    }
    .carousel-indicators{
        display: none;
    }
    .display-4{
        font-size: 160%;
    }
    .social a{
        font-size: 2rem;
        padding: .7rem;
    }
    
}

