body{
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    background: linear-gradient(whitesmoke, rgb(51, 105, 51));
}
.container {
    justify-content: center;

}
.login-form {
    position: relative;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}
a{
    text-decoration: none !important;
}
h1{
    font-family: 'kaushan script', cursive;
}

.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(243, 248, 250);
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, .2);
    border-radius: 3rem;
    outline: 0;
    max-width: 700px;
}
.tx-tfm{
    text-transform: uppercase;
}
.mybtn{
    border-radius: 50px;
}
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.google {
    color: rgb(0, 174, 255);
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 5px;
    outline: none;
    border: 1px solid lightgrey;
}
form.error {
    color: #ff0000;
}
.modal-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: rgb(53, 114, 53);
}